* {
  margin: 0 auto;
}

.contenido {
  background: rgb(9, 35, 47);
  background: linear-gradient(90deg, rgba(9, 35, 47, 1) 0%, rgba(119, 237, 155, 1) 50%, rgba(13, 68, 79, 1) 100%);
}

.descripcion {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.yoimg {
  width: 240px;
  border-radius: 100%;
}

.rrss {
  height: 50px;
}

.d-block {
  height: 500px;
  background-position: center;
  background-size: cover;
}

.cvimage {
  height: 100px;
  width: 60px;
  background-position: center;
  background-size: cover;
}